/* CSS */
/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


body{
	font:15px/1.3 'Open Sans', sans-serif;
	color: #5e5b64;
	text-align:center;
}



a:hover{
	text-decoration:none;
}

section, footer, header, aside, nav{
	display: block;
}


/*-------------------------
	The menu
--------------------------*/


.nav{
	display:inline-block;
	margin:0px;
	
	/* height: 7%;box-shadow:0 1px 1px #ccc;height: 8%; */
	border-radius:2px;
	
	padding-bottom: 4px;
	
	background-color:rgb(255,255,255);
}

.nav div{
	/* display:inline-block; */
	/* padding: 8px 60px; */
	color:#fff !important;
	font-weight:bold;
	font-size:12px;
	text-decoration:none !important;
	line-height:1;
	/* background-color:#5b9bd5; */

	-webkit-transition:background-color 0.25s;
	-moz-transition:background-color 0.25s;
	transition:background-color 0.25s;
	margin: 5px;
	margin-right: 0px;
	margin-left:2px;
	margin-top:0px;
	box-shadow:0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.navbar{
	display:inline-block;
	padding: 8px 60px;
	color:#fff !important;
	font-weight:bold;
	font-size:12px;
	text-decoration:none !important;
	line-height:1;
	background-color:#5b9bd5;

	-webkit-transition:background-color 0.25s;
	-moz-transition:background-color 0.25s;
	transition:background-color 0.25s;
}

.nav  div:first-child{
	 /*  border-radius:2px 0 0 2px; */
		border-radius:2px ;
}

.nav  div:last-child{
	border-radius:0 2px 2px 0;
}

.nav.dashboard .dashboard,
.nav.link .link,
.nav.support .support,
.nav.about .about, 
.nav.filter .filter{
 background-color:#5867E3;
}




.dropbtn {
			/* background-color: #4CAF50; */
			color: white;
			/* padding: 16px; */
			/* font-size: 16px; */
			border: none;
		}

		.dropdown {
			position: relative;
			display: inline-block;
			background-color:#3d6ed8 !important;
			/* padding-top: 12px !important; */
			cursor: pointer;
			color: white;
			font-size: 12px;
			font-weight: 500 !important;
		    font-family: Roboto,"Helvetica Neue",sans-serif !important;
			
			line-height: 0px !important;
            width: 69px !important;
            min-height: 30px !important;
            text-align: center;
            margin-left: 0px !important;
		}

		.dropdown-content {
			display: none;
			position: absolute;
			background-color: #f1f1f1;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
			z-index: 1000;
			margin: 20px 0px 0px 0px;
			width: 100%
		}

		.dropdown-content a {

			padding: 12px 16px;
			text-decoration: none;
			display: block;
			/*background-color: #cdcdcd*/
			background-color: #B5D2EC;
			margin-top: 1px;
			color: black;

		}

		.dropdown-content a:hover {
			background-color: #5b9bd5;
		}

		.dropdown:hover .dropdown-content {
			display: block;
			margin-top: 8px;
		}

		.dropdown:hover .dropbtn {
			/* background-color: #3e8e41; */
		}




/* Pattern styles */
.mainsection {
	display: flex;
	background-color: #f3f3f3 !important;
	height:100%;
}

.left-half {
 background-color:rgb(255,255,255);
 width:54px;
 /*border:1px solid #e5e5e5;
    flex: 1;
  padding: 1rem; */
}

.right-half {
  background-color: rgb(255,255,255); 
  flex: 1;
  display: flex;

}
div :focus{
  border: thin solid black;
}
md-menu-bar{
	padding: 0px;
	display: inline;
}
.row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: left; /* for centering 3 blocks in the center */
	/* justify-content: space-between; for space in between */
}
.block {
	width: 25%;
	justify-content: center;
}
md-content{
	width: 100%;
}
md-card{
	height: 95%
}
ul{
margin:3px;
}
li {
  text-align:left;
  margin-left: 1.3em;
  
}
.summaryContainer{
	height: 55%;
	color: #666!important;
	font-weight: 100!important;
	font-family: Roboto!important;
	font-size: 14px;

}
.iconContainer{
	margin-top: 40px;
}
.summaryContainer .block{
display:flex;
}
md-menu-item :hover{
background: rgba(0,0,0,.04);
}
md-menu-item {
cursor: pointer;
    outline: 0;
}
div :focus{
border:none;
}

.shadow{
box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important
}
.qvobject{
      background-color: rgb(250, 250, 250);
    /* height: 120px; */
    height: 85px;
    width: 180px;
    padding: 10px !important;
    /* padding: 5px; */
    font-size: 11px;
    color: rgb(151, 144, 144)!important;
    line-height: 18px;
    /* white-space: normal; */
    overflow: hidden;

}
.dashboardsummary{
    background-color: rgb(255,255,255);
    display: inline-block;
    border: .5px solid #959595;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 1px;
	cursor:pointer;
	vertical-align:top;
   	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
}
.dashboardsummaryHeader{
        border-bottom: 1px solid rgba(0,0,0,.2);
    display: flex;
    font-weight: bold;
    font-family: robot;
    color: #737373;
    /* padding-top: 6px; */
    background-color: white;
    height: 50px;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    padding-top: 10px;

}
#container {
text-align:left;
}
.otislogo{
    text-align: center !important;
    margin-left: 8px;
    margin-bottom: 30px;
    margin-top: 25px;
}


ul{
line-height:22px
}

.filtercontainer{

    float: left;
    margin-left: 408px;  
   
    position: absolute;
    top: 65px;
    border: 1px solid #D5D5D5;
    background-color: #ffffff;
    color: #222222;
	border-radius:3px;
	width:35%;
	display:none;
	z-index: 2;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
}
.md-tab{
font-size:12px !important;
}
 .holds-the-iframe {
  background:url('assets/loader.gif') center center no-repeat;
 }
.matselectfontsize
{
   font-size: 12px;
    font-family: 'Roboto' !important;
    color: #6f6f6f;
    padding: 10px;

}
.md-select-value{
    color: rgba(0,0,0,.87);
	
}

md-content
{
background-color:#f3f3f3 !important;
 font-size: 12px;
    font-family: Roboto,"Helvetica Neue",sans-serif !important;
    color: #6f6f6f;
}
.md-toolbar-tools{
background:linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%);
    border-bottom: 1px solid #d9d9d9;
    background-color: #f6f7f9;
    color: #1b1d1f;
    font-weight: normal;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	height:40px !important;
}
.filterdiv{
height:50px;
}
.filterdiv div{
width :33%

}
.actionfilterdiv {
    justify-content: center;
    display: flex;
	/*width:85%;*/
}
.actionfilterdiv div{
    /*margin-right: 5px;*/
}
#local .actionfilterdiv div{
    margin-right: 0px !important;
}

md-input-container{
    width: 130px;
    text-align: left;
}
md-select-menu md-content
{
background-color:white !important;
}
md-option .md-text{
font-size:12px;
}
md-input-container>md-select{
    font-size: 12px;
    font-family: Roboto,"Helvetica Neue",sans-serif !important;
    color: #6f6f6f;
}
.md-datepicker-input{
    font-size: 12px;
    font-family: Roboto,"Helvetica Neue",sans-serif !important;
}
.datefilterdiv{
margin-left: 32px;
}
.bottomdiv{
    margin-top: 25px;
	justify-content:center;

}
#dashboardContainer{

 display:none;
 padding: 24px;
 padding-top: 10px;
}
.reportContainer
{
 height:90%;
 display:none;
}

md-menu-item {
    margin-bottom: 20px;
}
#material
{
    width: 100%;
    display: flex;
}
#container
{
display:block;
}
.sidebyside {
    float:left; 
    /* width:100px; 
    height:100px;  */
    /* border-style:solid;  */
	margin-right:5px;
	/* color:#337ab7; */
}
#navContainer
{
    display:flex;
    border-bottom: 1px solid #d3d3d3;
	background-color: #fafafa;
}
/*a.md-button.md-default-theme:not([disabled]):hover, a.md-button:not([disabled]):hover, .md-button.md-default-theme:not([disabled]):hover, .md-button:not([disabled]):hover{
    background-color: rgb(236, 236, 236);
}*/
span {
    font-size: 12px;
    vertical-align: super;
	margin-left: 5px;
}
-------------------------------------
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
}
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:204px;
overflow:visible;
}

.main-menu {
/*background-color: #f4f4f4;*/
background-color: #fafafa;
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:54px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);

}

.main-menu>ul {
/*margin:6px 0;*/

}

.main-menu li {
    position: relative;
    display: block;
     /* width: 120px;
   justify-content: center; */
    /* text-align: center;
	index:1000;
    margin-left: 10px ;*/
    padding-top: 5px;

}

.main-menu li>a {
position:relative;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
width:100%;
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
/*width:190px;  
padding-left: 10px !important;*/

  color:rgba(0,0,0,.655);
  font-size:13px !important;
   
}

.main-menu>ul.logout {
/*position:absolute;
left:0;
bottom:0;margin-left: 13px;*/
    
    margin-top: 40px;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}

.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar
{
color:rgb(91, 155, 213);
background:rgb(91, 155, 213);
}
.right-left-half {
    background-color: rgb(255,255,255);
    width: 205px;

	  
}

.rightnavigation{
width:204px !important;
}

.fa> img {
    padding-right: 20px !important;
}
.has-subnav{
padding-left: 15px!important;
    height: 33px;
    padding-bottom: 0px !important;
}
.nav span {
    font-size: 13px !important;
    vertical-align: text-bottom;
    margin-left: 5px;
    color:rgba(0,0,0,.655);
   /* font-weight: bold;*/
    word-spacing: 1px;
    letter-spacing: .01em;
	text-transform: none;

}
#navContainer .md-button{
margin-right:80px;
height:32px;
}

/*.btn-success {
background-color: #00a65a !important;
border-color: #008d4c !important;
}*/
.btn-success {
    background-color: #ecf1fa !important;
    border-color: #ecf1fa !important;
}
.btn-success span {
    color: #3d6ed8 !important;
}

#navigation
{
  	border-right: 1px solid #d3d3d3;
	z-index:1000;
	white-space:nowrap;
}

.blankli
{
height:0px;
padding-bottom:0px !important;
}
.has-subnav:hover{
background-color:rgba(0,0,0,0.04);
cursor: pointer;
}
.collapsexpand1{
text-align: center;
margin-left:20px !important;
}
  .collapsexpand:hover{  padding: 0;

    /*width: 40px;
    height: 40px;*/
 
	
	border-radius: 50%;
    background: rgba(0,0,0,0.04);
    cursor: pointer;
	}
	
.has-subnav li:hover>span{
color:#3367d6
}
.logoli{
    text-align: center;
    margin-top: 15px !important;
    margin-bottom: 0px !important;
	padding-top:0px !important;
	}
	.material-icons.md-dark { 
	color: #737373;

	}
	.material-icons.md-24 { font-size: 24px;     padding: 5px !important;}
	.right-arrow{
/*background:url('assets/double-arrow-right.png' );background-repeat:no-repeat;float:right;*/
	transform: rotate(90deg) !important;
transition: transform 150ms ease;

}
.left-arrow{
/*background:url('assets/double-arrow-left.png' );background-repeat:no-repeat;float:right;*/
	transform: rotate(-90deg) !important;
	transition: transform 150ms ease;

}

.selectedmenuitem{
    background-color: #ecf1fa;
}
.selectedmenuitem span{
    color: #3d6ed8 !important;
}

.material-icons.color_green { color: #00FF00; }

 .has-subnav img{
height:26px;
width:26px;
}
.md-button.dropdown :hover{
 background-color: #5b9bd5 !important;
}



.cancel{
    background-color: white !important;
    color: #3d6ed8 !important;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
}
.md-button .cancel :hover{
    background-color: white !important;
    color: #3367d6 !important;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);

}
.cancel:not([disabled]):hover {
  background-color:red
}
#inprogressContainer{
    text-align: left;
    margin: 35px;
    font-size: 12px;
    font-weight: bold;
}
.blur   {   

    position: fixed;
    /* display: none; */
    /* width: 100%; */
    /* height: 100%; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
	}
	#leftcontainer{
	z-index:1;
	}